:root{
  --primary-500:#0a5763; --primary-600:#06b6d4; --primary-700:#6eb4c7;
  --secondary-500:#0a2546; --secondary-600:#6e8fc5; --secondary-700:#557ce6;
  --accent-500:#f472b6; --accent-600:#ec4899; --accent-700:#be185d;
  --success-500:#12c253; --success-700:#15803d;
  --warning-500:#f59e0b; --warning-700:#b45309;
  --danger-500:#ef4444;  --danger-700:#b91c1c;
  --info-500:#38bdf8;    --info-700:#0369a1;
  --neutral-50:#f8fafc; --neutral-100:#f1f5f9; --neutral-200:#e2e8f0; --neutral-300:#cbd5e1;
  --neutral-400:#94a3b8; --neutral-500:#64748b; --neutral-700:#334155; --neutral-900:#0f172a;

  --bg: var(--neutral-900);
  --surface: #0f192e;
  --text: #e5e7eb;    
  --muted: var(--neutral-400);
  --ring: #04cfee55;
  --shadow: 0 10px 30px rgba(0,0,0,.35);

  --fs-xxs: 11px; 
  --fs-xs:  12px; 
  --fs-sm:  14px; 
  --fs-md:  16px; 
  --fs-lg:  20px; 
  --fs-xl:  24px; 
  --fs-2xl: 32px;

  --s-8: 8px; --s-16:16px; --s-24:24px; --s-32:32px; --s-48:48px; --s-64:64px;
  --radius: 16px; --radius-lg: 20px; --radius-sm: 10px;
  --speed: .25s;

  --container: 1200px; 
  --gutter: 16px;     
}